<h1>Input New Shelter</h1><br>

<%# What is the authenticity_token - When are we learning about it - etc -etc %>

<form action='/shelters' method='post' id="shelter-input">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Name: </p>
  <input type="text" name="name" required>
  <p>Address: </p>
  <input type='text' name='address' required>
  <p>City: </p>
  <input type='text' name='city' required>
  <p>State: </p>
  <input type='text' name='state' required>
  <p>Zip: </p>
  <input type='text' name='zip' required>
  <br>
  <input type='submit' id='shelter-submit'>
</form>