header {
  padding: 5px;
  background-color: rgba(120, 241, 241, 0.637);
  color: rgb(104, 102, 102);
  text-shadow: 1px 1px black;
  border: 1px solid rgb(1, 71, 71);
  margin-bottom: 0px;
}

nav {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: rgb(1, 71, 71);
}

li {
  list-style-type: none;
}

.navli {
  border-radius: 55%;
  border: 1px solid rgb(41, 40, 40);
  background-color: rgb(3, 121, 121);
  padding: 10px;
  float: right;
  list-style-type: none;
  color: white;
  text-decoration: white;
}

.navli:hover {
  background-color: rgb(1, 71, 71);
}

.pet-bubble {
  display: inline-block;
  text-align: center;
  border-radius: 25%;
  background-image: url(https://lh3.googleusercontent.com/proxy/VtfgyJkzsfyhHVZwYQ2EEqYX8FO8_lR5ebnTHjxZi2CJqA39w7Pz_c34qzghijEzp4Z4lRDrceiFajtcqNuX11U_P_Ljoq2S7LL3tSvaA54NbliBVplrDc6aUDiK);
  border: 3px solid rgb(5, 119, 119);
  max-width: 24%;
}

.pet-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}