<!DOCTYPE html>
<html>
  <head>
    <title>Adopt Dont Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>Welcome to Adopty No Shoppy</h1>

    <ul>
      <li><a href="/shelters">Shelter Index</a></li>
      <li><a href="/pets">Pet Index</a></li>
    </ul>
    <hr>
    <%= yield %>
  </body>
</html>
